.admin-container {
    height: 100vh;
    margin-top: 5em;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
}

.admin-button {
    padding: 1em 2em;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #90C0D3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #B9D9EA;
}

.admin-plosca-gumb {
    min-width: 20vw;
    min-height: 15vh;
    border-radius: 39px;
    background: linear-gradient(145deg, #51889d, #447284);
    box-shadow:  5px 5px 10px #48798c,
    -5px -5px 10px #50859a;
    transition: all 0.3s ease-in-out;
}
.admin-plosca-gumb:hover {
    border-radius: 39px;
    background: linear-gradient(145deg, #447284, #51889d);
    box-shadow:  5px 5px 10px #48798c,
    -5px -5px 10px #50859a;
}
.admin-plosca-gumb h1 {
    font-size: 18pt;
    color: white;
    margin: 0.4em;
}
.admin-plosca {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}





/* rezervacije */


.pregled-rezervacij-container {
    max-width: 900px;
    margin: 8em auto;
    padding: 1em;
    text-align: center;
}
.pregled-rezervacij-container h1 {
    margin-bottom: 1em;
}

.rezervacija-kartica {
    background: #f0f0f0;
    padding: 2em;
    border-radius: 12px;
    margin-bottom: 2em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.rezervacija-kartica h2 {
    margin-bottom: 1em;
    color: #333;
}

.rezervacija-kartica ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rezervacija-kartica li {
    margin-bottom: 0.5em;
}

.skupno-vstopnic {
    margin-top: 1.5em;
    font-weight: bold;
    color: #005fa3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-size: 1rem;
}

thead {
    background-color: #f9f9f9;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75em;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


th {
    font-weight: 600;
    color: #333;
}
