.admin-container {
    height: 100vh;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
}

.admin-button {
    padding: 1em 2em;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #90C0D3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #B9D9EA;
}







/* rezervacije */


.pregled-rezervacij-container {
    max-width: 900px;
    margin: 8em auto;
    padding: 1em;
    text-align: center;
}
.pregled-rezervacij-container h1 {
    margin-bottom: 1em;
}

.rezervacija-kartica {
    background: #f0f0f0;
    padding: 2em;
    border-radius: 12px;
    margin-bottom: 2em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.rezervacija-kartica h2 {
    margin-bottom: 1em;
    color: #333;
}

.rezervacija-kartica ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rezervacija-kartica li {
    margin-bottom: 0.5em;
}

.skupno-vstopnic {
    margin-top: 1.5em;
    font-weight: bold;
    color: #005fa3;
}
